import(methods)
importFrom(stats, setNames)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(rhdf5)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 classes
###

exportClasses(
    HDF5Array, HDF5Matrix
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S3 methods
###

S3method(mean, HDF5Array)

### We also export them thru the export() directive so that (a) they can be
### called directly, (b) tab-completion on the name of the generic shows them,
### and (c) methods() doesn't asterisk them.

export(
    mean.HDF5Array
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 methods for generics not defined in HDF5Array
###

exportMethods(
    ## Methods for generics defined in the base package:
    length,
    dim,
    dimnames, "dimnames<-",
    as.array, as.vector, as.matrix,
    "[", "[[",
    c,
    t,
    anyNA,
    max, min, range, sum, prod, any, all,  # "Summary" group generic
    mean,
    "==", "!=", "<=", ">=", "<", ">",      # "Compare" group generic
    rowSums, colSums, rowMeans, colMeans,

    ## Methods for generics defined in the methods package:
    coerce, show,

    ## Methods for generics defined in the S4Vectors package:
    isEmpty
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions
###

export(
    HDF5Array, HDF5Matrix
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 generics defined in HDF5Array + export corresponding methods
###

export(
)

### Exactly the same list as above.
exportMethods(
)

