useDynLib(HDF5Array)

import(methods)
importFrom(utils, read.table)
importFrom(stats, setNames)
importFrom(tools, file_path_as_absolute)
importFrom(Matrix, sparseMatrix)

import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(DelayedArray)
import(rhdf5)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 classes
###

exportClasses(
    H5DSetDescriptor,
    HDF5ArraySeed,
    HDF5Array, HDF5Matrix,
    ReshapedHDF5ArraySeed,
    ReshapedHDF5Array, ReshapedHDF5Matrix,
    HDF5RealizationSink,
    TENxMatrixSeed,
    TENxMatrix,
    TENxRealizationSink
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 methods for generics not defined in HDF5Array
###

exportMethods(
    ## Methods for generics defined in the base package:
    dim, dimnames,

    ## Methods for generics defined in the methods package:
    coerce, show,

    ## Methods for generics defined in the BiocGenerics package:
    path, "path<-", type,

    ## Methods for generics defined in the DelayedArray package:
    extract_array,
    sparsity, is_sparse, extract_sparse_array,
    read_sparse_block, write_block,
    matrixClass, DelayedArray, chunkdim,
    close
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions
###

export(
    H5DSetDescriptor, destroy_H5DSetDescriptor, get_h5mread_returned_type,
    h5mread,
    h5mread_from_reshaped,
    set_h5dimnames, get_h5dimnames, h5writeDimnames, h5readDimnames,
    HDF5ArraySeed,
    HDF5Array,
    ReshapedHDF5ArraySeed,
    ReshapedHDF5Array,
    setHDF5DumpDir, getHDF5DumpDir,
    setHDF5DumpFile, getHDF5DumpFile, lsHDF5DumpFile,
    setHDF5DumpName, getHDF5DumpName,
    setHDF5DumpChunkLength, getHDF5DumpChunkLength,
    setHDF5DumpChunkShape, getHDF5DumpChunkShape,
    getHDF5DumpChunkDim,
    setHDF5DumpCompressionLevel, getHDF5DumpCompressionLevel,
    appendDatasetCreationToHDF5DumpLog, showHDF5DumpLog,
    HDF5RealizationSink, writeHDF5Array,
    saveHDF5SummarizedExperiment, loadHDF5SummarizedExperiment,
    quickResaveHDF5SummarizedExperiment,
    TENxMatrixSeed,
    TENxMatrix,
    TENxRealizationSink, writeTENxMatrix
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 generics defined in HDF5Array + export corresponding methods
###

export(
    ## TENxMatrix-class.R:
    extractNonzeroDataByCol
)

### Exactly the same list as above.
exportMethods(
    extractNonzeroDataByCol
)

